.about {
    background-color: #1c0c28b7;
    text-align: center;
    padding: 2rem;
  }

  .about-img {
    width: 20%;
    height: 80%;
    object-fit: cover;
    z-index: -1; /* Place the video behind other content */
    border-radius: 1rem;
  }

  .DiscordWidget {
    width:600px;
    height:500px;
    border-style: hidden;
  }