.navbar {
  background: linear-gradient(40deg,#000000c3, #0000007c);
  color: white;
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  gap: 6rem;
  width:99%;
  font-family: "Roboto Condensed", sans-serif;

}

.navbar h1 {
  text-transform:uppercase;
}

.logo {
  margin-top: 0.5rem;
  width: 90px; /* Set the width of the logo */
}

.logo-img {
  max-width: 90px;
  height: auto;
}

.navbar nav ul {
    list-style: none;
    padding: 0rem;
    display: flex;
    justify-content: center;
  }
  
.navbar nav li {
   margin: 0 2rem;
}
  
.navbar nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.893);
  font-weight: bold;
}
