.navbar {
  background: rgb(254 111 57 / 1);
  color: #fbe200;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9%;
  position: fixed;
  width: 100%;
  font-family: Changa One, Impact, sans-serif;
  z-index: 1000;
  transition: padding 0.5s ease-in-out;
  text-transform: uppercase;
}

.navbar div {
  display: flex;
  align-items: center;
}

.navbar.scrolled {
  transition: font-size 0.5s ease-in-out; /* Smooth transition for font size */
}

.navbar h1 {
  text-transform: uppercase;
  transition: font-size 0.5s ease-in-out; /* Smooth transition for font size */
}

.logo {
  width: 90px; /* Set the width of the logo */
  transition: transform 0.5s ease-in-out; /* Smooth transition for scale */
}

.logo-img {
  max-width: 100%;
  height: auto;
}

.navbar nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.navbar nav li {
  margin: 0 1rem;
}

.navbar nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: x-large;
}

.navbar nav a.btn {
  text-decoration: none;
  color: #3861fb;
  background: #fbe200;
  padding: 10px;
  border-radius: 10px;
}
